:root{
    --naranja: #FFA310;
    --mango: #F9D394;
    --aqua: #00B4D8;
    --lime: #4D8B31;
    --menta: #D5E4CE;
    --coco: #FBF9F4;
    --tamarindo: #543400;
    --black: #110700;
    --font-heading: "Short Stack", cursive;
    --font-text: Georgia, Times, "Times New Roman", serif;
    --nav-h: 80px;
}

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: var(--font-text);
}

/* Header */

nav{
    position: fixed;
    top: 0; left: 0;
    height: var(--nav-h);
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
    z-index: 100;
    background-color: var(--coco);
    box-sizing: border-box;
}

.logotype{
    color: var(--naranja);
    display: flex;
    font-family: var(--font-heading);
    text-shadow: 1px 1px 1px var(--tamarindo);
}

nav i{
    display: flex;
}

nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

nav a:hover{
    color: var(--naranja);
    transition: color 0.3s ease;
}

/* Sections */

section {
    height: 100dvh;
    display: flex;
    color: var(--black);
    scroll-margin-top: var(--nav-h);
    background-color: var(--aqua);
}

section.active{
    transform: translateY(0);
}

/* Inicio */

#Inicio{
    width: 100%;
    height: 100;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
}

.eyebrow{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
    color: var(--black);
    background-color: var(--naranja);
    border-radius: 25px;
    font-family: var(--font-heading);
}


.doodles {
    width: 100%;
    height: 100%;
    grid-column: span 5;
    grid-row: span 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    overflow: hidden;
}

.small-plant {
    object-position: 35%;
    width: 100%;
    height: 100%;
}

.tree1 {
    width: 100%;
    height: 100%;
}

.platanera {
    width: 100%;
    height: 100%;
    object-position: 52.5%;
}

.platanera-small {
    object-position: 53%;
    width: 100%;
    height: 100%;
    transform: translate(0, 10%);
}

.tree2 {
    width: 100%;
    height: 100%;
}

.doodles img{
    object-fit: cover; 
}

.cta {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
    width: 100%;
    container-type: inline-size;
    font-family: var(--font-heading);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

.cta :first-child{
    font-size: 4.5cqw;
    margin-left: auto;
    margin-right: auto;
}

.cta :last-child{
    font-size: 10.2cqw;
    margin-left: auto;
    margin-right: auto;
}

.naranja {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
}

.naranja img{
    object-fit: contain;
    padding: 8px;
    width: 90%;
    height: 90%;
}
   
/* Problema */

#Problema{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    padding: 1.5rem;
}

.problem-text{
    grid-row: 4/  4;
    grid-column: 5 / 9;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#Problema h2{
    width: fit-content;
    height: fit-content;
    margin:0 auto;
    padding: 10px;
    font-family: var(--font-heading);
    color: var(--black);
    background-color: var(--naranja);
    border-radius: 25px;
    text-align: center;
    font-size: 100%;
}

#Problema p{
    text-align: center;
    font-size: 125%;
}

.problema-galeria{
    position: relative;
    display: contents;
}

.cuaderno{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    transform: rotate(30deg);
}

.cuaderno :hover{
    transform: translateX(2%)
}

.pila{
    grid-row: 5 / 7;
    grid-column: 3 / 5;
    transform: rotate(-20deg) translateY(3%) translateX(5%);
}

.folder{
    grid-row: 2 / 4;
    grid-column: 9 / 11;
    transform: rotate(-20deg);
}

.notification{
    grid-row: 5 / 7;
    grid-column: 10 / 12;
    transform: rotate(5deg) translateY(4%);
}

.problema-galeria img{
    max-width: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

/* Visión */

#Visión{
    justify-content: relative;
    display: grid;
    padding: 1.5rem;
}

#Visión h2{
    width: fit-content;
    height: fit-content;
    margin:0 auto;
    padding: 10px;
    font-family: var(--font-heading);
    color: var(--black);
    background-color: var(--naranja);
    border-radius: 25px;
    text-align: center;
    font-size: 100%;
}

.vision-text{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2;
    gap: 1rem;
    margin: 1.5rem;
    align-items: center;
    justify-content: center;
}

.vision-text h2{
    grid-row: 1;
    grid-column: 1;
}

.vision-text p{
    grid-row: 1;
    grid-column: 2;
}

.vision-galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
}

.vision-galeria img{
    max-width: 75%;
}

.vision-galeria h3{
    font-family: var(--font-heading);
}

/* Proceso */

#Proceso{
    justify-content: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    padding: 1.5rem;
}

#Proceso h2{
    grid-row: 1;
    grid-column: 4 / 10;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin:0 auto;
    padding: 10px;
    font-family: var(--font-heading);
    color: var(--black);
    background-color: var(--naranja);
    border-radius: 25px;
    text-align: center;
    font-size: 100%;
}

.ten{
    grid-row: 2 / 4;
    grid-column: 4 / 6;
    font-family: var(--font-heading);
    font-size: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--naranja);
    text-shadow: 1px 1px 1px var(--tamarindo);
}

.est-enc{
    grid-row: 2 / 4;
    grid-column: 6 / 10;
    font-family: var(--font-heading);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--naranja);
    text-shadow: 1px 1px 1px var(--tamarindo);
}

.comentarios{
    gap: 1rem;
    grid-column: 3 / 11;
    grid-row: 4 / 7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

/* Sumarte */

#Sumarte{
    background-image: url(assets/bg.webp);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover; 
    height: 100dvh;
    justify-content: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    padding: 1.5rem;
}

.sumarte-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    grid-column: 2 / 8;
    grid-row: 2 / 7;

}

.sumarte-text h2{
    font-family: var(--font-heading);
    color: var(--naranja);
    font-size: 250%;
    text-shadow: 1px 1px 1px var(--tamarindo);
}

form{
    grid-column: 9 / 12;
    grid-row: 2 / 6;
    gap: 1rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--coco);
    height: 100%;
    color: var(--black);
    border-radius: 15px;
}

form h3{
    font-family: var(--font-heading);
    color: var(--black);
    font-size: 125%;
}

form input[type="text"], form input[type="email"]{
    border: none;
    width: 100%;
    border-bottom: 2px solid var(--black);
    outline: none;
    height: 40px;
    font-family: var(--font-text);
}

form input[type="text"]:focus, form input[type="email"]:focus{
    border-bottom: 2px solid var(--naranja);
    transition: border-bottom 0.3s ease-in;
}

form button{
    border: none;
    outline: none;
    height: 40px;
    color: var(--black);
    font-family: var(--font-heading);
    font-size: 100%;
    background: none;
}

/* Footer */

footer{
    align-items: relative;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    row-gap: 0rem;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--coco);
    color: var(--black);
    flex-direction: column;
    column-gap: 50px;
}

footer .author{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
}

footer .notion-face{
    grid-column: 1;
    display: flex;
}

footer .author h3{
    grid-column: 2;
    display: flex;
    font-family: var(--font-heading);
    white-space: nowrap;
    align-items: center;
}

footer .author-desc {
    grid-row: 2;
    grid-column: 1;
    font-size: 90%;
}

.same-grid {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

footer .socials {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

footer .socials-icons {
    display: flex;
}

footer .socials h3{
    font-family: var(--font-heading);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
}

.notion-face{
    width: 50px;
}

.ncopy {
    margin-top: 1rem;
    font-size: 60%;
}