:root{
    --naranja: #FFA310;
    --aqua: #00B4D8;
    --lime: #4D8B31;
    --coco: #FBF9F4;
    --black: #110700;
    --font-heading: "Short Stack", cursive;
    --font-text: Georgia, Times, "Times New Roman", serif;
}

*{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}

h1{
    font-family: var(--font-heading);
}

h2{
    font-family: var(--font-heading);
}

h3{
    font-family: var(--font-heading);
}

h4{
    font-family: var(--font-text);
}

h5{
    font-family: var(--font-text);
}

h6{
    font-family: var(--font-text);
}

p{
    font-family: var(--font-text);
}

body{
    background-color:#00B4D8;
}

.nav{
    position: sticky;
    width: 100%;
    height: 65px;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--coco);
    color: var(--black);
}

.logotype{
    display: flex;
    color: var(--naranja);
}

.menu-items{
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu-items a{
    color: var(--black);
    text-decoration: none;
}

.menu-items a:hover{
    color: var(--naranja);
}

.ti.ti-menu-2{
    display: flex;
    fill: var(--black);
}

.contenedor-contenido{
    position: relative;
    padding: 0px;
}

.contenedor-naranja{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
}

.naranja{
    position: sticky;
    top: calc(100vh - 270px);
    height: 250px;
    width: 250px;
    margin-right: 0px;

}

#Inicio{
    min-height: 100vh;
    min-width: 100vh;
    color: var(--coco);
}

.doodles{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: stretch;
}

.doodles img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

#Inicio .cta1 .cta2{
    display: flex;
    padding: 15px;
    bottom: 0%;
}

.eyebrow{
    align-self: center;
    text-align: center;
    padding: 5px;
    color: var(--aqua);
    background-color: var(--naranja);
}

#Problema{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    color: var(--coco);
}

#Visión{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    color: var(--coco);
}

#Proceso{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    color: var(--coco);
}

#Sumarme{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    color: var(--coco);
}

footer{
    padding: 20px;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--coco);
    color: var(--black);
}